.header {
    grid-area: h;
    background: #262626;
    color: #ADADAD;
    background: url("../../assets/images/header.jpg");
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    height: fit-content;
}
.logo {
    height: 100px;
}
.header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 400px));
    grid-template-rows: 60px;
}
.loginBlock {
    float: right;
}